{% extends 'index.html.twig' %}

{% block title %}
Gestione utenti | Dijiti
{% endblock %}

{% block main %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum vero nam exercitationem quibusdam omnis aliquam non odio quaerat deleniti sed repellat et, quod eos esse a facilis adipisci labore! Delectus!</p>
{% endblock %}


